extends layout
block body
  h1 習慣
    span= title

  h2= goals.notes

  ol.days
    li.header= month
    each val in prefix
      li.prefix
    each val in days
      li= val

  ol.weekdays
    li.header
    each val, index in weekdays
      if index < prefix.length
        li.prefix= val
      else if index % 7 > 4
        li.weekend= val
      else
        li.weekday= val

  each val in goals.habits
    ol.days
      li.habit= val
      each val in prefix
        li.prefix
      each val, index in days
        if (prefix.length + index) % 7 > 4
          li.weekend
        else
          li